.user-apt-service {
  font-size: var(--font-md);
  font-weight: 600;
  color: var(--color-text-primary);
}

.user-apt-details {
  font-size: var(--font-sm);
  color: var(--color-text-secondary);
  line-height: 1.8;
}
